<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="datasources.xml"/>

    <beans:beans xmlns="http://www.springframework.org/schema/security"
                 xmlns:beans="http://www.springframework.org/schema/beans"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

        <http auto-config="false">
            <intercept-url pattern="/resources/bootstrap/**" access="permitAll"/>
            <intercept-url pattern="/resources/images/icon-user-default.png" access="permitAll"/>
            <intercept-url pattern="/resources/css/**" access="permitAll"/>
            <intercept-url pattern="/index**" access="permitAll"/>
            <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
            <access-denied-handler error-page="/index.html?error=access_denied"/>
            <form-login
                    login-page="/index.html"
                    authentication-failure-url="/index.html?error"
                    always-use-default-target="true"
                    default-target-url="/lab.html"
                    username-parameter="name"
                    password-parameter="password"
                    login-processing-url="/j_spring_security_check"/>

            <logout logout-success-url="/index.html?logout"
                    logout-url="/j_spring_security_logout"/>
            <csrf disabled="true"/>
        </http>

        <authentication-manager>
            <authentication-provider user-service-ref="userService" >
                <password-encoder hash="bcrypt" />
            </authentication-provider>
        </authentication-manager>

        <beans:bean id="userService" class="ruh.efac.lab.genie.service.UserDetailsService" p:userRepo-ref="userRepository"/>
        <beans:bean id="userRepository" class="ruh.efac.lab.genie.repository.UserRepository" p:jdbcTemplate-ref="jdbcTemplate"/>

    </beans:beans>
</beans>